<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        li {
            width: 200px;
            text-align:center;
            display: flex; /* allows align-items to work below */
            justify-content: center; /* Horizontally centers single-line elements */
            text-align:center;
         }
    </style>
</head>
{% load static %}
<body style="padding-top:70px">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top" style="position:fixed; width: 100%">
  <!-- Brand -->
    <a class="navbar-brand" href="#"style="width: 200px; text-align:center; background-color:grey">
        Tommu
    </a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" style="width: 200px; text-align:center">
      <a class="nav-link" href="/falcon/introduce/introduction">Introduction</a>
    </li>


    <!-- Dropdown -->
    <li class="btn-group dropdown" style="width: 200px; text-align:center">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Projects
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/falcon/projects/datascience/stock/stock">Data Science</a>
        <a class="dropdown-item" href="/falcon/projects/computation/computation_science">Computational Science</a>
        <a class="dropdown-item" href="#">Web Frontend</a>
        <a class="dropdown-item" href="#">Web Backend</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/falcon/award/award" style="width: 200px; text-align:center">Award</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/falcon/resume/resume" style="width: 200px; text-align:center">Resume</a>
    </li>

  </ul>

</nav>
<div class="container-fluid">

        <img src="/static/introduc.png"  alt="html size" width="100%" height="90%" >

    </div>
</body>
</html>