<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-4" align="left">
            <h1>Tom Jeong</h1>
        </div>

        <div class="col-sm-2">
            <div class="w3-container">
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-black">Introduction</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Link 1</a>
                        <a href="#" class="w3-bar-item w3-button">Link 2</a>
                        <a href="#" class="w3-bar-item w3-button">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="w3-container">
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-black">Projects</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Link 1</a>
                        <a href="#" class="w3-bar-item w3-button">Link 2</a>
                        <a href="#" class="w3-bar-item w3-button">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="w3-container">
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-black">Awards</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Link 1</a>
                        <a href="#" class="w3-bar-item w3-button">Link 2</a>
                        <a href="#" class="w3-bar-item w3-button">Link 3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="w3-container">
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-black">Resume</button>
                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a href="#" class="w3-bar-item w3-button">Link 1</a>
                        <a href="#" class="w3-bar-item w3-button">Link 2</a>
                        <a href="#" class="w3-bar-item w3-button">Link 3</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>